<form #searchForm="ngForm" id="search-form" class="card card-body">
    <h4 class="card-title">
        {{'modules.shared.components.search.filter'|translate}}
        <button class="btn btn-primary btn-sm"
            (click)="clear()">{{'modules.shared.components.search.clean'|translate}}</button>
        <button type="button" aria-label="Close" class="close" (click)="close()"><span
                aria-hidden="true">&times;</span></button>
    </h4>

    <div class="form-group" *ngFor="let control of controls" [ngSwitch]="control.type">

        <label [for]="control.key">
            {{control.display | camelCaseToSign:' '}}
        </label>

        <input *ngSwitchCase="'INPUT_TEXT'" type="text" class="form-control" [id]="'search-by-' + control.key"
            [name]="control.key" ngModel>

        <input *ngSwitchCase="'INPUT_NUMBER'" type="number" class="form-control" [id]="'search-by-' + control.key"
            [name]="control.key" ngModel>

        <div *ngIf="control.options">
            <select *ngSwitchCase="'SELECT'" class="form-control" [id]="'search-by-' + control.key" [name]="control.key"
                [ngModel]="provideSelectIdentifier(control, control.options[0])">
                <option *ngFor="let opt of control.options" [value]="provideSelectIdentifier(control, opt)">
                    {{provideSelectText(control, opt)}}
                </option>
            </select>
        </div>
    </div>
</form>