<ng-template #content let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'modules.shared.components.add.title'|translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <i class="fas fa-window-close" style="color:firebrick;"></i>
        </button>
    </div>
    <form #searchForm="ngForm" autocomplete="off" id="search-form" class="card card-body"
        (ngSubmit)="onClickSubmit(searchForm.value)">
        <div class="form-group" *ngFor="let control of config.data" [ngSwitch]="control.type" class="modal-body">

            <label [for]="control.key" *ngIf="control.display">
                {{control.display | camelCaseToSign:' '}}
            </label>

            <input *ngSwitchCase="'input'" type="text" class="form-control" [id]="control.key" [name]="control.key" [value]="castToInput(control).defaultValue" [disabled]="!control.enabled"
                ngModel>

            <input *ngSwitchCase="'input_number'" [step]="castToInputNumber(control).step" [placeholder]="castToInputNumber(control).default" type="number" class="form-control" [id]="control.key"
                [name]="control.key" ngModel>

            <select *ngSwitchCase="'select'" class="form-control" [id]="control.key" [name]="control.key"
                [ngModel]="castToSelect(control).value">
                <option *ngFor="let opt of castToSelect(control).options"
                    [value]="provideSelectIdentifier(control, opt)">
                    {{provideSelectText(control, opt)}}
                </option>
            </select>

            <div *ngSwitchCase="'checkbox'">
                    <input type="checkbox"
                        [id]="control.key"
                        [name]="control.key"
                        [(ngModel)]="castToCheckbox(control).value">
                    <label
                        [for]="control.key">{{provideCheckboxText(control, castToCheckbox(control).value)}}</label>
            </div>

            <div *ngSwitchCase="'checkboxes'">
                <div *ngFor="let opt of castToCheckboxes(control).options; let i = index">
                    <input type="checkbox"
                        [id]="'array:'+control.key+'['+provideCheckboxIdentifier(control,opt.getObject())+']'"
                        [name]="'array:'+control.key+'['+provideCheckboxIdentifier(control,opt.getObject())+']'"
                        [(ngModel)]="opt.value">
                    <label
                        [for]="'array:'+control.key+'['+provideCheckboxIdentifier(control,opt.getObject())+']'">{{provideCheckboxesText(control, opt.getObject())}}</label>
                </div>
            </div>

            <div *ngSwitchCase="'radio'">
                <div *ngFor="let opt of castToRadio(control).options">
                    <input type="radio" [id]="control.key+'['+provideRadioIdentifier(control,opt)+']'" [name]="control.key" [value]='provideRadioIdentifier(control, opt)' [checked]="true" [(ngModel)]="castToRadio(control).value">
                    <label [for]="control.key+'['+provideRadioIdentifier(control,opt)+']'">{{provideRadioText(control, opt)}}</label>
                </div>
            </div>

        </div>
        <br>
        <input class="button btn-primary" type="submit" value="{{'modules.shared.components.add.add'|translate}}">
    </form>
</ng-template>

<button class="btn btn-success btn" (click)="open(content)">
    <i class="fa fa-plus-square"></i>
</button>