<div class="row">
    <div style="width: 100%;">
        <div class="card card-body">
            <div class="row">
                <div class="mx-auto">
                    <div class="badge badge-success ml-1">{{badgeItemName}}:
                        {{items?.data.length}} / {{items?.total}}</div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="addOn || filterOn || actionOn" class="col">
                    <button *ngIf="filterOn" type="button" class="btn btn-primary" (click)="openFilter()">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                    <app-add *ngIf="addOn" [config]="addConfig" (addAction)="addItem($event)"></app-add>
                    <button *ngIf="actionOn" type="button" class="btn btn-danger" (click)="takeAction()">
                        <i [class]="actionClass" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col">
                    <ngb-pagination class="float-right" [collectionSize]="items?.total" [maxSize]="5" size="sm"
                        [pageSize]="filters.value.pageSize" [rotate]="true"
                        (pageChange)="updateFilters({pageNumber: $event || 1})" [page]="filters.value.pageNumber">
                    </ngb-pagination>
                </div>
            </div>
            <app-datagrid [data]='items?.data' [config]='dataGridConfig' [itemAction]="action"></app-datagrid>
            <br>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <ngb-pagination class="float-right" [collectionSize]="items?.total" [maxSize]="5" size="sm"
                        [pageSize]="filters.value.pageSize" [rotate]="true"
                        (pageChange)="updateFilters({pageNumber: $event || 1})" [page]="filters.value.pageNumber">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
    <div style="position: absolute;">
        <div class="card bg-active" *ngIf="filterVisible" style="display: inline-block;">
            <app-search [controls!]="searchConfig" (searchChange)="updateFilters($event)"
                (closeEvent)="closeFilter()"></app-search>
        </div>
    </div>
</div>